{{- $author := .Params.author | default site.Params.author -}}
{{- $authorTerms := .GetTerms "author" -}}

<div class="article-meta">

  {{- with $author }}
    <span class="article-meta__author" aria-label="作者">
      {{- with $authorTerms -}}
        {{- range . -}}
          <a href="{{ .RelPermalink }}" rel="author">{{ .LinkTitle }}</a>
        {{- end -}}
      {{- else -}}
        {{- $names := slice -}}
        {{- $values := slice $author -}}
        {{- if reflect.IsSlice $author -}}
          {{- $values = $author -}}
        {{- end -}}
        {{- range $values -}}
          {{- $name := . -}}
          {{- if reflect.IsMap . -}}
            {{- $name = .name -}}
          {{- end -}}
          {{- with $name -}}
            {{- $names = $names | append . -}}
          {{- end -}}
        {{- end -}}
        {{ delimit $names "、" }}
      {{- end -}}
    </span>
  {{- end }}

  {{- with .Date }}
    <time
      class="article-meta__date"
      datetime="{{ .Format `2006-01-02T15:04:05Z07:00` }}"
    >
      {{ .Format "2006-01-02" }}
    </time>
  {{- end }}

  {{- with .ReadingTime }}
    <span class="article-meta__reading-time">
      约 {{ . }} 分钟阅读
    </span>
  {{- end }}

</div>
