{{ define "main" }}

    {{ if .Params.pdf }}

        {{ partial "document/pdf-viewer.html" . }}

    {{ else }}

        <article class="site-container article-single article-single--blog">

          <header class="article-header">

            {{ partial "article/categories.html" . }}

            <h1 class="article-title">
              {{ .Title }}
            </h1>

          </header>

          {{ partial "article/toc.html" . }}

          <div class="prose article-content">
            {{ .Content }}
          </div>

        </article>

    {{ end }}

{{ end }}
